html {
  background-color: white;
  height: 100%;
  font-family: Varela Round;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 28px;
	color: white;
	font-weight: bold;
}
h2 {
	font-size: 22px;
	color:white;
	font-weight: bold;
}
h3{
	font-size: 26px;
	color: white;
}
h4 {
	font-size: 20px;
}
h5 {
	text-align: right;
	font-size: 18px;
}
h6 {
	font-size: 20px;
	font-style: bold;
}
#wrapper {
	background: url(https://raw.githubusercontent.com/ridou/ridou.github.io/master/img/black_wood.png);
    background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
header {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	text-align: center;
	
}
#container {
	min-height: 600px;
	overflow: hidden;
	height:80%;
  }
#leftcol {
	float: left;
	width: 200px;
	text-align: center;
	background: #7f7f7f;
	background: rgba(0,0,0,0.35);
	color: white;
	max-height: 800px;
}
#leftcol ul {
	list-style-type: none;
	background: #7f7f7f;
	background: rgba(0,0,0,0.35);
}
#leftcol ul li {
	display: inline-block;
  	position: relative;
  	float:right;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	-moz-box-shadow:inset 0px 0px 5px 0px #f5978e;
	-webkit-box-shadow:inset 0px 0px 10px 0px #f5978e;
	box-shadow:inset 0px 0px 5px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#leftcol ul li:before {
	pointer-events: none;
  	position: absolute;
  	content: '';
  	height: 0;
  	width: 0;
  	top: 0;
  	left: 0;
  	background: white;
  	/* IE9 */
	background: -webkit-linear-gradient(top left, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	background: -o-linear-gradient(top left, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	background: linear-gradient(to bottom right, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#000000');
  	/*For IE7-8-9*/
  	z-index: 1000;
  	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: width, height;
  	transition-property: width, height;

}
#leftcol ul li:hover:before, .leftcol:focus:before, .leftcol:active:before {
	width: 25px;
  	height: 25px;

}
#leftcol ul li a {
	display: block;
	text-align: center;	
	text-decoration: none;
	color: black;
	width: 150px;
	line-height: 20px;
}
#leftcol ul li a:hover {
}
#rightcol {
	background: #7f7f7f;
	background: rgba(0,0,0,0.35);
	float: right;
	width: 200px;
	text-align: center;
	color: white;
	max-height: 800px;
}
#rightcol ul {
	background: #7f7f7f;
	background: rgba(0,0,0,0.35);
	list-style-type: none;
}
#rightcol ul li {
	position: relative;
	display: inline-block;
  	position: relative;
  	float:right;
  	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
  	b-moz-box-shadow:inset 0px 0px 5px 0px #f5978e;
	-webkit-box-shadow:inset 0px 0px 10px 0px #f5978e;
	box-shadow:inset 0px 0px 5px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	
}
#rightcol ul li:before {
	pointer-events: none;
  	position: absolute;
  	content: '';
  	height: 0;
  	width: 0;
  	top: 0;
  	right: 0;
  	background: white;
  	/* IE9 */
	background: -webkit-linear-gradient(top right, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	background: -o-linear-gradient(top right, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	background: linear-gradient(to bottom left, white 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: width, height;
  	transition-property: width, height;

}
#rightcol ul li:hover:before, .leftcol:focus:before, .leftcol:active:before {
	width: 25px;
  	height: 25px;

}
#rightcol ul li a {
	display: block;
	text-align: center;
	height: 20px;
	text-decoration: none;
	width: 150px;
	line-height: 20px;
	color: black;
}
#rightcol ul li a:hover {

}
#centercol {
	max-height: 800px;
	margin-left: 200px;
	margin-right: 200px;
}
#content {
	text-align: center;
	background: #7f7f7f;
	background: rgba(0,0,0,0.5);
	color: white;
	padding-left: 175px;
	padding-right: 175px;
	padding-top: 50px;
	height: 100%;
	overflow: auto;
}
footer {
	min-height:260px;
	overflow: hidden;
	background-color: white;
	background: rgba(0,0,0,0.4);
}
#gcalendar {
	display: inline-block;
	width: 460px;
	height: 270px;
	margin: 10px;
	padding-top: 15px;
}
#contactlist{
	max-width: 480px;
	height: 270px;
	overflow: hidden;
	float:right;
	display: block;
	padding-top: 120px;
	text-align: center;
	bottom: 30px;
}
.button{
  top:-10px;
}
#twitter {
  display: inline-block;
  padding-top:5px;
  margin:10px;
  height:100px;
  width:100px;
}
#linkedin {
  display:inline-block;
  padding-top:5px;
  width:100px;
  height:100px;
  margin:8px;
}
#google {
  display:inline-block;
  padding-top:5px;
  width:100px;
  margin:5px;
  left:8px;
  height:100px;
}
#github {
  display:inline-block;
  padding-top:5px;
  width:100px;
  height:100px;
  margin:10px;
  left:8px;
}
