html {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}
.body {
}
.wrapper {
	background-color: white;
	width: 100%;
	margin: 10px auto;
	height: 100%;
}
header {
	min-height: 80px;
	background-color: yellow;
}
.container {
	background-color: white;
	min-height: 350px;
	overflow: hidden;
	height:80%;
  }
.leftcol {
	min-height: 350px;
	background-color: green;
	float: left;
	width: 200px;
}
.rightcol {
	min-height: 350px;
	background: lightblue;
	float:right;
	width: 200px;
}
.content {
	background-color: red;
	min-height: 350px;
	margin-left: 200px;
	margin-right: 200px;
}
footer {
	min-height:80px;
	background-color: purple;
}